[Unit]
Description=E5 Renewer Daemon
Wants=network-online.target
After=network-online.target

[Service]
LoadCredential=user-secret.json:%E/e5renewer/user-secret.json
LoadCredential=token.txt:%E/e5renewer/token.txt
ExecStart=/usr/bin/E5Renewer \
    --user-secret=%d/user-secret.json \
    --token-file=%d/token.txt \
    --systemd

User=e5renewer
DynamicUser=yes

RuntimeDirectory=e5renewer

NoNewPrivileges=yes

ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
PrivateNetwork=yes
PrivateUsers=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
LockPersonality=yes

[Install]
WantedBy=multi-user.target
